<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("./templates/head") %>
  </head>
  <body>
    <%- include('./templates/nav') %>
    <h1>About PAge</h1>
    <%- include('./templates/footer') %>
  </body>
</html>
