<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./templates/head') %>
  </head>
  <body>
    <%- include("./templates/nav") %>
    <!-- Content -->
    <section class="createBlog">
      <form action="">
        <input type="text" placeholder="Title" name="title" id="title" />
        <input
          type="text"
          placeholder="Blog Snippet"
          name="snippet"
          id="snippet"
        />
        <textarea
          name="content"
          placeholder="Blog Content"
          id="content"
          cols="30"
          rows="10"
        ></textarea>
        <button type="submit">Submit</button>
      </form>
    </section>
    <%- include('./templates/footer') %>
  </body>
</html>
